<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Flutter 템플릿은 INTERNET 을 debug/profile 매니페스트에만 넣어준다(핫리로드용).
         그래서 릴리즈 빌드에는 이 권한이 없고, 개발 중에는 절대 드러나지 않는다.
         앱이 서버 없이는 아무것도 못 하므로 여기(main)에 둔다. -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- FCM: Android 13+ 알림 권한 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- 앱 내 스캔 시트(core/nfc/NfcReader)가 리더 모드로 태그를 직접 읽는다.
         딥링크만 받을 때는 필요 없던 권한이다. -->
    <uses-permission android:name="android.permission.NFC"/>
    <!-- NFC 미탑재 기기도 설치는 되게 둔다. 개체 관리·기록은 태그 없이도 전부 쓸 수 있고,
         required="true" 로 두면 스토어에서 그런 기기를 아예 걸러낸다. -->
    <uses-feature android:name="android.hardware.nfc" android:required="false"/>

    <application
        android:label="tailog"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:networkSecurityConfig="@xml/network_security_config"
        android:enableOnBackInvokedCallback="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- NFC 태그 이름표 딥링크.
                 태그에는 https://tailog.me/t/{tagCd} 만 굽혀 있고, OS가 이 URL을 열면
                 autoVerify가 통과한 경우 브라우저를 거치지 않고 이 액티비티로 바로 들어온다.
                 검증에는 서버의 /.well-known/assetlinks.json 이 필요하다. -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https"
                      android:host="tailog.me"
                      android:pathPrefix="/t/" />
            </intent-filter>
        </activity>

        <!-- 딥링크를 Flutter(go_router)로 그대로 넘긴다.
             이게 없으면 앱이 꺼진 상태에서 들어온 첫 링크가 홈으로 빠진다. -->
        <meta-data
            android:name="flutter_deeplinking_enabled"
            android:value="true" />
        <!-- FCM: 백그라운드 알림이 사용할 기본 채널 (PushService의 채널 ID와 일치) -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="bitpet_default_channel" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
